.icon_card_title {
    padding-top: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.icon_card_description {
    padding-top: 16px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 226px;
    margin: 0 auto;
}

.icon_card_container {
    text-align: center;
}

.icon_button_container {
    display: inline-flex;

}